parameters:
  tmpDir: var/phpstan
  level: max
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - identifier: property.unusedType
      path: src/Entity/*
