<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <php>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="1" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="KERNEL_CLASS" value="App\Accessing\Kernel"/>
    </php>

    <testsuites>
        <testsuite name="Accessing">
            <directory>tests/Unit</directory>
            <directory>tests/Integration</directory>
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="Panther">
            <directory>tests/Panther</directory>
        </testsuite>
    </testsuites>
</phpunit>
